body {
  background-color: #0f0d0e;
}

.App {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.login-btn {
  border: 2px solid #fcba28;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-weight: 900;
  cursor: pointer;
}

.login-btn a {
  text-decoration: none;
  color: #fcba28;
  text-transform: uppercase;
}

.login-btn:hover {
  background-color: #fcba28;
}

.login-btn:hover a {
  color: #0f0d0e;
}

.logo-icon:hover svg path {
  fill: #fcba28;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: visible;
  gap: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  width: 100%;
  margin-top: 2rem;
}

.hero-left-container {
  display: grid;
  grid-column: span 6 / span 6;
  align-items: center;
  height: 100%;
}

.hero-left {
  display: grid;
  gap: 2rem;
  color: #f9f4da;
}

.hero-left h1 {
  font-size: 72px;
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}

.hero-left h2 {
  font-size: 40px;
  font-family: "Outfit", sans-serif;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}

.hero-left p {
  max-width: 40ch;
  font-size: 1.5rem;
  line-height: 2rem;
}

.hero-left a {
  color: #231f20;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fcba28;
  padding: 1rem 1.5rem;
  border-radius: 9999px;
}

.hero-cta {
  margin-top: 1rem;
  font-family: "Paytone One";
}

.hero-right-container {
  grid-column: span 6 / span 6;
  margin-top: 3rem;
}

.hero-right {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  justify-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 556px;
  border-radius: 1rem;
  border: 2px solid black;
}

.card-active {
  grid-area: 1 / 1 / auto / 4;
  z-index: 2;
  background-color: #ed203d;

  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  transform: translateX(0px) translateY(0px) scale(1) rotate(-3deg)
    translateZ(0px);
}
.card-left {
  grid-area: 1 / 1 / auto / 4;
  z-index: 1;
  background-color: #12b5e5;

  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  transform: translateX(80px) translateY(0px) scale(0.9) rotate(3deg)
    translateZ(0px);
}

.card-right {
  grid-area: 1 / 1 / auto / 4;
  z-index: 0;
  background-color: #fcba28;

  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  transform: translateX(160px) translateY(0px) scale(0.8) rotate(-1.69778deg)
    translateZ(0px);
}

.logos-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  color: rgb(249 244 218);
}

.company-logos {
  display: inline-block;
  width: 75%;
}

.logos-figure {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.logos-figure figcaption {
  margin-top: 1.5rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
}

.card-header img {
  z-index: 1;
  transform: rotate(35deg) scale(1);
}

.card-elipse {
  display: flex;
  align-items: center;
  background-color: #f9f4da;
  height: 220px;
  width: 350px;
  border-radius: 50%;
  transform: rotate(-40deg);
  position: relative;

  z-index: 0;
  overflow: hidden;
  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  border: 1px black solid;
}

.name-container {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.star-container {
  display: inline-flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 7px;
}

.star-container img {
  transform: rotate(70deg);
}

.name-container {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.name-container--inner {
  background-color: #f9f4da;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: black;
  border-radius: 15px;
  border: 2px black solid;
  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  transform: rotate(2deg);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-right: 2.5rem;

  padding-left: 2.5rem;
  padding-top: 2.5rem;
  max-width: 420px;
}

.card-testimonial {
  color: black;
  padding-top: 1rem;
}

.course-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
  max-width: 1536px;
}

.course-section header {
  color: #f9f4da;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80ch;
}

.course-section header h3 {
  font-size: 4.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.course-section header h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.course-section span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.course-section img {
  color: #f9f4da;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100;
  height: 100px;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.course-list article {
  background-color: #fcba28;

  padding: 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
}

.course-list article a {
  text-decoration: none;
  color: black;
}
.course-card header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.course-list img {
  width: 48px;
  height: 48px;
}

.courses-star img {
  width: 20px;
  height: 20px;
}

.course-card header img {
  margin-left: 0;
}

.course-card header h5 {
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
}

.course-card header span {
  color: black;
  font-weight: bold;
}

.card-learn-more {
  text-decoration: underline;
}

.course-about {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
