body {
  background-color: #0f0d0e;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.login-btn {
  border: 2px solid #fcba28;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-weight: 900;
  cursor: pointer;
}

.login-btn a {
  text-decoration: none;
  color: #fcba28;
  text-transform: uppercase;
}

.login-btn:hover {
  background-color: #fcba28;
}

.login-btn:hover a {
  color: #0f0d0e;
}

.logo-icon:hover svg path {
  fill: #fcba28;
}
