body {
  background-color: #0f0d0e;
}

.App {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.login-btn {
  border: 2px solid #fcba28;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-weight: 900;
  cursor: pointer;
}

.login-btn a {
  text-decoration: none;
  color: #fcba28;
  text-transform: uppercase;
}

.login-btn:hover {
  background-color: #fcba28;
}

.login-btn:hover a {
  color: #0f0d0e;
}

.logo-icon:hover svg path {
  fill: #fcba28;
}

.hero-left {
  color: #f9f4da;
}

.hero-left h1 {
  font-size: 72px;
  font-family: "Paytone One", sans-serif;
}

.hero-left h2 {
  font-size: 40px;
  font-family: "Outfit", sans-serif;
}

.hero-left a {
  color: #231f20;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fcba28;
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  font-weight: bold;
}

.hero-container {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero-right {
  color: white;
  display: flex;
  gap: 15px;
}

.card {
  height: 556px;
  width: 447px;
  border-radius: 1rem;
  border: 2px solid black;
}

.card1 {
  z-index: 2;
  position: absolute;
  background-color: #ed203d;
  margin-left: 50px;
  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  transform: translateX(0px) translateY(0px) scale(1) rotate(-3deg)
    translateZ(0px);
}
.card2 {
  z-index: 1;
  background-color: #f38ba3;
  margin-left: 100px;
  position: absolute;
  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  transform: translateX(80px) translateY(0px) scale(0.9) rotate(3deg)
    translateZ(0px);
}

.card3 {
  z-index: 0;
  background-color: #fcba28;
  margin-left: 150px;
  position: absolute;
  filter: drop-shadow(7px 5px 0px rgba(0, 0, 0, 1));
  transform: translateX(160px) translateY(0px) scale(0.8) rotate(-1.69778deg)
    translateZ(0px);
}
